@font-face {
  font-family: "iconfont"; /* Project id 3184716 */
  src: url(iconfont.woff2?t=1645152022383) format('woff2'),
       url(iconfont.woff?t=1645152022383) format('woff'),
       url(iconfont.ttf?t=1645152022383) format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.yu-icon-map:before {
  content: "\e763";
}

.yu-icon-chanpin1:before {
  content: "\e62c";
}

.yu-icon-icon_xinyong_xianxing_jijin-129:before {
  content: "\e647";
}

.yu-icon-jiagebiaoqian:before {
  content: "\e625";
}

.yu-icon-pengyouquan:before {
  content: "\e6dd";
}

.yu-icon-lifangti:before {
  content: "\e72d";
}

.yu-icon-pdf:before {
  content: "\e740";
}

.yu-icon-zip:before {
  content: "\e741";
}

.yu-icon-pifuzhuti:before {
  content: "\e91d";
}

.yu-icon-guojihua:before {
  content: "\e6e4";
}

.yu-icon-zhifeiji:before {
  content: "\e6a0";
}

.yu-icon-table:before {
  content: "\e602";
}

.yu-icon-cloudupload:before {
  content: "\e81c";
}

.yu-icon-bug-fill:before {
  content: "\e8e8";
}

.yu-icon-excel:before {
  content: "\e611";
}

.yu-icon-tuozhuai:before {
  content: "\e636";
}

.yu-icon-24gf-clipboardDown:before {
  content: "\eac2";
}

.yu-icon-xiangmuguanli:before {
  content: "\e613";
}

.yu-icon-qq:before {
  content: "\e64e";
}

.yu-icon-yonghuzhongxin:before {
  content: "\e68c";
}

.yu-icon-duoceng:before {
  content: "\e61f";
}

.yu-icon-liebiao1:before {
  content: "\ec6b";
}

.yu-icon-ant-design:before {
  content: "\e716";
}

.yu-icon-icon:before {
  content: "\e621";
}

.yu-icon-weixin:before {
  content: "\e8bb";
}

.yu-icon-tubiao:before {
  content: "\e622";
}

.yu-icon-link:before {
  content: "\e615";
}

.yu-icon-yibiaopan:before {
  content: "\eab4";
}

.yu-icon-icon1:before {
  content: "\e600";
}

.yu-icon-m-qiantao:before {
  content: "\e801";
}

.yu-icon-BaiDu:before {
  content: "\e601";
}

.yu-icon-zhuye:before {
  content: "\e65e";
}

.yu-icon-shouji:before {
  content: "\e692";
}

.yu-icon-mima:before {
  content: "\e644";
}

.yu-icon-caidan:before {
  content: "\e608";
}

.yu-icon-shanchu:before {
  content: "\e8c1";
}

.yu-icon-caidan1:before {
  content: "\e64f";
}

.yu-icon-zhanghao:before {
  content: "\e63e";
}

.yu-icon-jurassic_user:before {
  content: "\e6a4";
}

.yu-icon-liebiao:before {
  content: "\e616";
}

