
.side-menu-section {
  height:calc(100% - 64px);
}

.anticon svg {
  width: 14px;
  height: 14px;
  transition: font-size 0.15s cubic-bezier(0.215, 0.61, 0.355, 1) 0s, margin 0.3s cubic-bezier(0.645, 0.045, 0.355, 1) 0s, color 0.3s ease 0s;
}
//.ant-menu.ant-menu-sub {
.ant-menu {
  .menu-item-section, .sub-menu-section {
    &.ant-menu-submenu-inline {
      //margin-left: -13px !important;
    }
    &.no-icon {
      //margin-left: -13px !important;
      .ant-menu-item-icon {
        //margin: 0;
        display: none;
      }
      .ant-menu-title-content {
        //margin-left: 15px;
      }
    }
    
    .ant-menu-item-icon {
      //margin-left: 15px;
      .ant-menu-title-content {
        //margin-left: 10px;
      }
    }
  }
}

